<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="ServiceName" value="AwesomeServices.WindowsServiceDev"/>
    <add key="ServiceDisplayName" value="Awesome Service Dev"/>
    <add key="ServiceDescription" value="This is the most amazing service."/>
  </appSettings>
</configuration>